#container {
  display: flex;
}

canvas {
  display: inline-block;
  background: black;
}

body {
  margin: 0;
}

.controls {
  display: inline-block;
  height: 100vh;
  width: 15vw;
  min-width: 120px;
  padding-left: 10px;
}

input {
  max-width: 100px;
}
