#container {
  display: flex;
}

canvas {
  display: inline-block;
  background: black;
}

body {
  margin: 0;
}

h3 {
  text-align: center;
}

.controls {
  text-align: center;
  display: inline-block;
  height: 100vh;
  width: 15vw;
  min-width: 120px;
}
label {
  display: block;
}
input {
  max-width: 100px;
}
